.glass {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
  cursor: none;
  
  /* Multiple box shadows to achieve the glass effect */
  box-shadow:
    0 0 0 7px rgba(255, 255, 255, 0.85),
    0 0 7px 7px rgba(0, 0, 0, 0.25), 
    inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  
  /* hide the glass by default */
  display: none;
}
.magniflier{
   box-shadow: 0px 0px 1px 1px #ddd;
    margin-top: 30px;
    margin-bottom: 30px;
}
.info{
    margin-top: 30px;
    font-size: 20px;
    
}
.info p{
    font-size: 15px
}
.size_wrist h1{
    font-size: 20px;
}
.size_wrist p{
   float: left;
    margin-right: 20px;
   padding: 8px 40px;
    background-color: black;
    color: #FEC64F;
    
}
.product_discription{
    margin-top: 60px;
}
.product_description_two h1{
    font-size: 20px
}
